/**
 * App Window
 */
@define-color bg_color #1b1d24;
@define-color window_bg @bg_color;
@define-color window_border_color #3498db;
@define-color prefs_backgroud #aaa;

/**
 * Input
 */
@define-color selected_bg_color #4B5053;
@define-color selected_fg_color #d5d5d5;
@define-color input_color #ddd;
@define-color caret_color darker(@input_color);

/**
 * Result items
 */
@define-color item_name #B3BAB8;
@define-color item_text #999;
@define-color item_box_selected #4B5053;
@define-color item_text_selected #ccc;
@define-color item_name_selected #bbb;
@define-color item_shortcut_color darker(#ccc);
@define-color item_shortcut_shadow darker(@bg_color);
@define-color item_shortcut_color_sel #ccc;
@define-color item_shortcut_shadow_sel darker(@item_box_selected);

.app {
    background-color: rgba(27, 29, 36, 0.910);
    border-color: @window_border_color;
    border-radius: 40px;
}

.input {
    color: @input_color;
}

/**
 * Selected text in input
 */
.input *:selected,
.input *:focus,
*:selected:focus {
    background-color: alpha (@selected_bg_color, 0.9);
    color: @selected_fg_color;
}

.item-text {
    color: @item_text;
}
.item-name {
    color: @item_name;
}

.selected.item-box {
    background: rgb(75,77,81);
    background: linear-gradient(90deg, rgba(75,77,81,0) 0%, rgba(75,77,81,1) 10%, rgba(75,77,81,1) 60%, rgba(75,77,81,0) 100%);
    border-left: 1px solid @window_border_color;
    border-right: 1px solid @window_border_color;
}
.selected.item-box .item-text {
    color: @item_text_selected;
}
.selected.item-box .item-name {
    color: @item_name_selected;
}
.item-shortcut {
    color: #ccc;
    text-shadow: 1px 1px 1px @item_shortcut_shadow;
}
.selected.item-box .item-shortcut {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px @item_shortcut_shadow_sel;
}

.prefs-btn {
    opacity: 0.8;
}
.prefs-btn:hover {
    background-color: @prefs_backgroud;
}

.no-window-shadow {
    margin: -20px;
}
